{% extends 'app/base.html' %}
{% load static %}
{% block content_checkout %}
     <div class="row" style ='width:100%%'>
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Họ tên">
						</div>
						
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Địa chỉ giao hàng:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Địa chỉ">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Tỉnh">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Huyện">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Ấp">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Số điện thoại">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Đặt hàng">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Trở về giỏ hàng</a>
				<hr>
				<h3>Hóa đơn</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Tên sản phẩm</strong></div>
					<div style="flex:1"><strong>Giá</strong></div>
					<div style="flex:1"><strong>Số lượng</strong></div>
					
				</div>
				
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.ImageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price}}</p></div>
					<div style="flex:1"><p>{{item.quantity}}</p></div>
				</div>
				{%endfor%}
				<h5>Tổng số lượng:<strong> {{order.get_cart_items}}</strong></h5>
				<h5>Tổng thanh toán:<strong>${{order.get_cart_total}}</strong></h5>
			</div>
		</div>
	</div>
	<br/> <br/><br/>
{% endblock content_checkout %}